body {
    background-color: #f6e652;
}

.circle3 {
    width: 390px;
    height: 390px;
    background-color: #FFFFFF;
    border-radius: 400px;
    font-size: 11pt;
    font-family: 'Nunito', sans-serif, Arial;
    line-height: 17px;
    color: #9c5200;
    position: absolute;
    top: 130px;
    left: 450px;
}

.circle3>h2 {
    font-weight: bold;
    font-size: 16pt;
    letter-spacing: 1px;
    position: relative;
    left: 95px;
    top: 65px;
}

.circle3>p {
    text-align: center;
    padding-top: 57px;
}

.circle1 {
    width: 220px;
    height: 220px;
    background-color: #c52018;
    border-radius: 200px;
    position: absolute;
    top: -30px;
    left: 330px;
}

.title {
    font-family: 'Nunito', sans-serif, Arial;
    font-size: 21pt;
    letter-spacing: 1px;
    color: yellow;
    padding-left: 60px;
    position: relative;
    top: -14px;
}

.circle1 img {
    padding-top: 35px;
    padding-left: 46px;
}

.circle2 {
    width: 200px;
    height: 200px;
    background-color: #9c5200;
    border-radius: 200px;
    position: absolute;
    top: 230px;
    left: 270px;
}

.circle2 td {
    font-family: 'Nunito', sans-serif, Arial;
    font-size: 9.5pt;
    line-height: 10pt;
    color: #FFFFFF;
}

.circle2 table {
    position: absolute;
    left: 27px;
    top: 63px;
}

.circle4 {
    width: 160px;
    height: 160px;
    background-color: #FFFFFF;
    border-radius: 200px;
    position: absolute;
    top: 90px;
    left: 770px;
}

.circle4>img {
    padding-top: 28px;
    padding-left: 23px;
}

.circle5 {
    width: 80px;
    height: 80px;
    background-color: #9c5200;
    border-radius: 200px;
    position: fixed;
    top: 420px;
    left: 1000px;
}

.circle5>p {
    font-family: 'Nunito', sans-serif, Arial;
    font-size: 9.5pt;
    color: #FFFFFF;
    padding-left: 12px;
    padding-top: 6px;
}

.circle5 a {
    position: fixed;
    top: 458px;
    left: 1025px;
}

.circle6 {
    width: 120px;
    height: 120px;
    background-color: #c52018;
    border-radius: 200px;
    position: absolute;
    top: 530px;
    left: 490px;
    font-family: 'Nunito', sans-serif, Arial;
    font-size: 8pt;
    color: #f6e652;
    line-height: 11px;
    text-align: center;
}

.circle6>p {
    padding-top: 37px;
}

.circle7 {
    width: 65px;
    height: 65px;
    background-color: #FFFFFF;
    border-radius: 200px;
    position: absolute;
    top: 428px;
    left: 782px;
    font-family: 'Nunito', sans-serif, Arial;
    font-size: 10pt;
    color: #9c5200;
}

.circle7>a {
    text-decoration: none;
    position: absolute;
    top: 25px;
    left: 16px;
}
